* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

:root {
    border-radius: 50px;
}

body {
    overflow-x: hidden;
    background-color: #111;
    color: #fff;
    line-height: 1.6;
    font-family: "Montserrat", sans-serif;
}

/* Header Navigation */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px; /* Reduced gap for tighter layout */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #fff;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 50px;
    background: url("assets/ftclass1.jpg") no-repeat center center/cover;
    height: 100vh;
    background-attachment: fixed; /* For parallax effect */
}

.hero .container1 {
    max-width: 600px; /* Reduced max width */
}

.hero h1 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.hero p {
    margin: 20px 0;
    font-size: 18px;
    color: #e6e6e6;
}

.hero button {
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}


/* Profile Picture */
.hero .profile-pic {
    flex-shrink: 0;
    text-align: center; /* Centering the image */
}

.hero .profile-pic img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid #fff;
}

.visi-misi-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    background: linear-gradient(to right, #424242, #131313 30%);
    border-radius: 50px 50px 0 0;
}


.section-title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-bottom: 40px; /* Adds spacing below the title */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.catatan {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-bottom: 20px; /* Adds spacing below the title */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.container-visi-misi {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.left-side {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wali-kelas-text {
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.member-picture-box {
    width: 80%;
    height: 300px;
    background-color: white;
    border-radius:15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.member-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.right-side {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.visi-misi-text {
    color: #c5c5c5;
}

.visi, .misi {
    font-size: 32px;
    margin-bottom: 10px;
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.misi {
    text-align: right;
}

.visi-text, .misi-text {
    font-size: 18px;
    margin-bottom: 30px;
}

.misi-text {
    text-align: right;
}

.quote-box {
    margin-top: 40px;
    text-align: center;
    text-shadow: #fff 0 0 10px;
    background: linear-gradient(to right, #000000, #464646 70%);
    color: white;
    padding: 20px;
    border-radius: 15px;
    width: 60%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.visimisi-logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-bottom: 20px;
}

.text-visimisi {
    font-size: 20px;
    color: white;
    margin-top: 10px;
    padding: 10px;
}

.wrapper {
    background: linear-gradient(to right, #424242, #131313 30%);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    margin-top: 5px;
}

.container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    margin-top: 5px;

}

.card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card:hover {
    transform: scale(1.05);

}

.card > .row > {
    color: #fff;
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon {
    background: #223;
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #b0b0ba;
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked +label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url("https://img.freepik.com/free-vector/gradient-black-background-with-wavy-lines_23-2149151738.jpg");
}
.card[for="c2"] {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5410e386-b62b-41fe-ae26-75f8290c43c2/dga3jli-2dfb451d-6b33-49c3-b89e-1be9aad0a365.jpg/v1/fill/w_1192,h_670,q_70,strp/abstract_4k_dark_mode_wave_wallpaper__by_ahilgalib47_dga3jli-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzUwMCIsInBhdGgiOiJcL2ZcLzU0MTBlMzg2LWI2MmItNDFmZS1hZTI2LTc1ZjgyOTBjNDNjMlwvZGdhM2psaS0yZGZiNDUxZC02YjMzLTQ5YzMtYjg5ZS0xYmU5YWFkMGEzNjUuanBnIiwid2lkdGgiOiI8PTEzMzM0In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.waFru1hOmH_-eBQv_W14ssronZF3RC9-ktRszcdPGU4");
}
.card[for="c3"] {
    background-image: url("https://img.freepik.com/free-vector/gradient-black-background-with-cubes_23-2149152316.jpg");
}
.card[for="c4"] {
    background-image: url("");
}
.card[for="c5"] {
    background-image: url("https://wallpapercave.com/wp/wp4673203.jpg");
}

.card[for="c6"] {
    background-image: url("https://img.pikbest.com/ai/illus_our/20230427/13845372e9a552d477d6584ea72984f6.jpg!w700wp");
}
.card[for="c7"] {
    background-image: url("https://img.freepik.com/free-photo/3d-rendering-abstract-black-white-background_23-2150913863.jpg");
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 20px;
    background: linear-gradient(to right, #424242, #131313 30%);
}

.details h1 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.details p {
    margin: 20px 0;
    font-size: 18px;
    color: #c5c5c5;
}

.container8 {
    background: linear-gradient(to right, #424242, #131313 30%);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: start;
    justify-content: center;

}

.container8 h1 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 600px;
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    text-align: center;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin-top: 5px;
    height: 80vh;
}

.slide-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #222;
  }
  
  .slide-container input {
    appearance: none;
  }
  
  .slide-container .dots {
    position: absolute;
    bottom: 70px;
    z-index: 10000;
    display: flex;
    gap: 6px;
  }
  
  .slide-container .dots label {
    width: 20px;
    height: 20px;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0.5;
    border: 2px solid #222;
  }
  
  .slide-container input:nth-child(1):checked ~ .dots label:nth-child(1),
  .slide-container input:nth-child(2):checked ~ .dots label:nth-child(2),
  .slide-container input:nth-child(3):checked ~ .dots label:nth-child(3),
  .slide-container input:nth-child(4):checked ~ .dots label:nth-child(4),
  .slide-container input:nth-child(5):checked ~ .dots label:nth-child(5) {
    opacity: 1;
  }
  
  .slide-container .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .slide-container .slider .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--img);
    background-size: cover;
    clip-path: circle(0% at 0% 50%);
    transition: 1.5s;
    transition-delay: 0s ;
    background-position: left;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  
  .slide-container .slider .slide:nth-child(even) {
    clip-path: circle(0% at 100% 50%);
    background-position: right;
  }
  
  .slide-container input:nth-child(1):checked ~ .slider .slide:nth-child(1),
  .slide-container input:nth-child(2):checked ~ .slider .slide:nth-child(2),
  .slide-container input:nth-child(3):checked ~ .slider .slide:nth-child(3),
  .slide-container input:nth-child(4):checked ~ .slider .slide:nth-child(4),
  .slide-container input:nth-child(5):checked ~ .slider .slide:nth-child(5) {
    clip-path: circle(150% at 50% 50%);
    transition-delay: 1s;
    background-position: center;
  }
  
  .content {
    position: relative;
    padding: 50px 50px 120px 80px;
    max-width: 550px;
  }
  
  .content h2 {
    color: #fff;
    font-size: 3em;
  }
  
  .content p {
    color: #fff;
    letter-spacing: 1px;
    margin: 5px;
  }

  .slide-container .slider .slide .content .slide-link {
    position: absolute;
    bottom: 50px;
    left: 16%;
    background: rgba(255, 255, 255, );
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s ease-in-out;
  }

  .slide-container .slider .slide .content .slide-link:hover {
    background: rgba(255, 255, 255, 0.1);

  }

  .slide-container .slider .slide .content a {
    text-decoration: none;
    color: #fff;
  }


  /* Responsive Styles */
@media (min-width: 768px) {
    /* Hero Section */
    .hero {
        flex-direction: row; /* Row layout for larger screens */
    }

    .hero .container1 {
        text-align: left; /* Align text left for larger screens */
    }

    /* Visimisi Section */
    .container-visi-misi {
        flex-direction: row; /* Row layout for larger screens */
        justify-content: space-between; /* Space between items */
    }

    .left-side,
